---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const terms = await getCollection('terms')
console.log(terms)
---
<Layout title="La Rojita">
   <section>
	<div>
		{
			terms.map(terms => {
				const { slug, data } = terms
				const { title, ultimaActualización, description } = data

				return (
					<article>
					<h3> {title}</h3>
					<p>{ultimaActualización}</p>
					<p>{description}</p>
                    <a href={slug}>Para ver completo entre aqui</a>
					</article>
				)
			})
		}
	</div>
   </section>
</Layout>
